/* Global Settings */
body {
    background-color: black;
}

body h1 {
    color: white;
    font-size: xx-large;
}

.square {
    border-color: white;
    border-width: thick;
    width: 33%;
    height: 33%;
}